/* button.module.css */

.primaryButton {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: white;
  border-radius: 6px;
  background: var(--orange-100, #ff6900);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 133.333% */
}

.secondaryButton {
  display: inline-flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  background: var(
    --orange-20,
    linear-gradient(0deg, #fdf0e7 0%, #fdf0e7 100%),
    #fff
  );
  color: var(--orange-100, #ff6900);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 133.333% */
}

.ghostButton {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  border: 1px solid #dfe2e9;
  color: var(--orange-100, #ff6900);

  /* 15px/medium */
  font-family: Aspekta;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 133.333% */
}

/* Index.module.css */

.radioGroup {
  display: flex;
  gap: 8px;
}

.radioLabel {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
  border-radius: 10px;
  display: flex;
  width: 246px;
  justify-content: space-between;
  padding: 16px;
  gap: 8px;
  /* Add smooth transitions for visual effects */
}

.radioLabel.selected {
  border-radius: 10px;
  border: 1px solid var(--orange-100, #FF6900);
  background: var(--orange-20, linear-gradient(0deg, #FDF0E7 0%, #FDF0E7 100%), #FFF);
}

.radioInput {
  margin-right: 5px;
  cursor: pointer;
  /* Add any additional input styles here */
}
